.press {
	background: $blue-color;
	&:focus{box-shadow: 0 0 1px #888,0 1px 0 #fff, 0 6px 0 $pinky-color, 0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25), -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);}
	
}
.upper{
	text-transform:uppercase;
}