<main class="page__main">
	<div class="keyboard">
		<div class="keyboard_line">
			<button class="keyboard-button square js-key ">1</button>
			<button class="keyboard-button square js-key  ">2</button>
			<button class="keyboard-button square js-key ">3</button>
			<button class="keyboard-button square js-key ">4</button>
			<button class="keyboard-button square js-key ">5</button>
			<button class="keyboard-button square js-key">6</button>
			<button class="keyboard-button square js-key">7</button>
			<button class="keyboard-button square js-key">8</button>
			<button class="keyboard-button square js-key">9</button>
			<button class="keyboard-button square js-key">0</button>
			<button class="keyboard-button rectangle js-delete">DEL</button>
		</div>
		<div class="keyboard_line">
			<button class="keyboard-button rectangle js-tab">TAB</button>
			<button class="keyboard-button square js-key">q</button>
			<button class="keyboard-button square js-key">w</button>
			<button class="keyboard-button square js-key">e</button>
			<button class="keyboard-button square js-key">r</button>
			<button class="keyboard-button square js-key">t</button>
			<button class="keyboard-button square js-key">y</button>
			<button class="keyboard-button square js-key">u</button>
			<button class="keyboard-button square js-key">i</button>
			<button class="keyboard-button square js-key">o</button>
			<button class="keyboard-button square js-key">p</button>
		</div>
		<div class="keyboard_line">
			<button class="keyboard-button rectangle js-caps">CAPS</button>
			<button class="keyboard-button square js-key">a</button>
			<button class="keyboard-button square js-key">s</button>
			<button class="keyboard-button square js-key">d</button>
			<button class="keyboard-button square js-key">f</button>
			<button class="keyboard-button square js-key">g</button>
			<button class="keyboard-button square js-key">h</button>
			<button class="keyboard-button square js-key">j</button>
			<button class="keyboard-button square js-key">k</button>
			<button class="keyboard-button square js-key">l</button>
			<button class="keyboard-button square js-key">ñ</button>
		</div>
		<div class="keyboard_line">
			<button class="keyboard-button rectangle js-more">?!#</button>
			<button class="keyboard-button square js-key">z</button>
			<button class="keyboard-button square js-key">x</button>
			<button class="keyboard-button square js-key">c</button>
			<button class="keyboard-button square js-key">v</button>
			<button class="keyboard-button square js-key">b</button>
			<button class="keyboard-button square js-key">n</button>
			<button class="keyboard-button square js-key">m</button>
			<button class="keyboard-button square js-key">.</button>
			<button class="keyboard-button square js-key">,</button>
			<button class="keyboard-button square js-key">-</button>
		</div>
		<div class="keyboard_line">
			<button class="keyboard-button space js-space">Espacio</button>
		</div>
	</div>
	<input class="textarea js-textarea"></input>
</main>
