<main class="page__main">
	<div class="keyboard">
		<div class="keyboard_line">
			<span class="keyboard-button square"> 1 </span>
			<span class="keyboard-button square"> 2 </span>
			<span class="keyboard-button square"> 3 </span>
			<span class="keyboard-button square"> 4 </span>
			<span class="keyboard-button square"> 5 </span>
			<span class="keyboard-button square"> 6 </span>
			<span class="keyboard-button square"> 7 </span>
			<span class="keyboard-button square"> 8 </span>
			<span class="keyboard-button square"> 9 </span>
			<span class="keyboard-button square"> 0 </span>
			<span class="keyboard-button rectangle"> DEL </span>
		</div>
		<div class="keyboard_line">
			<span class="keyboard-button rectangle"> TAB </span>
			<span class="keyboard-button square"> Q </span>
			<span class="keyboard-button square"> W </span>
			<span class="keyboard-button square"> E </span>
			<span class="keyboard-button square"> R </span>
			<span class="keyboard-button square"> T </span>
			<span class="keyboard-button square"> Y </span>
			<span class="keyboard-button square"> U </span>
			<span class="keyboard-button square"> I </span>
			<span class="keyboard-button square"> O </span>
			<span class="keyboard-button square"> P </span>
		</div>
		<div class="keyboard_line">
			<span class="keyboard-button rectangle"> CAPS </span>
			<span class="keyboard-button square"> A </span>
			<span class="keyboard-button square"> S </span>
			<span class="keyboard-button square"> D </span>
			<span class="keyboard-button square"> F </span>
			<span class="keyboard-button square"> G </span>
			<span class="keyboard-button square"> H </span>
			<span class="keyboard-button square"> J </span>
			<span class="keyboard-button square"> K </span>
			<span class="keyboard-button square"> L </span>
			<span class="keyboard-button square"> Ñ </span>
		</div>
		<div class="keyboard_line">
			<span class="keyboard-button rectangle"> UP </span>
			<span class="keyboard-button square"> Z </span>
			<span class="keyboard-button square"> X </span>
			<span class="keyboard-button square"> C </span>
			<span class="keyboard-button square"> V </span>
			<span class="keyboard-button square"> B </span>
			<span class="keyboard-button square"> N </span>
			<span class="keyboard-button square"> M </span>
			<span class="keyboard-button square"> . </span>
			<span class="keyboard-button square"> , </span>
			<span class="keyboard-button square"> - </span>
		</div>
		<div class="keyboard_line">
			<span class="keyboard-button space"> Espacio </span>
		</div>
	</div>
	<div class="textarea"></div>
</main>
