	<div class="keyboard js-secondary hidden">
		<div class="keyboard_line">
			<button class="keyboard-button square js-key ">+</button>
			<button class="keyboard-button square js-key  ">x</button>
			<button class="keyboard-button square js-key ">÷</button>
			<button class="keyboard-button square js-key ">=</button>
			<button class="keyboard-button square js-key ">/</button>
			<button class="keyboard-button square js-key">_</button>
			<button class="keyboard-button square js-key">€</button>
			<button class="keyboard-button square js-key">£</button>
			<button class="keyboard-button square js-key">(</button>
			<button class="keyboard-button square js-key">)</button>
			
		</div>
		<div class="keyboard_line">
			
			<button class="keyboard-button square js-key">@</button>
			<button class="keyboard-button square js-key">#</button>
			<button class="keyboard-button square js-key">$</button>
			<button class="keyboard-button square js-key">%</button>
			<button class="keyboard-button square js-key">&</button>
			<button class="keyboard-button square js-key">*</button>
			<button class="keyboard-button square js-key">¿</button>
			<button class="keyboard-button square js-key">?</button>
			<button class="keyboard-button square js-key">¡</button>
			<button class="keyboard-button square js-key">!</button>
			
		</div>
		<div class="keyboard_line">
			<button class="keyboard-button rectangle js-more2">ABC</button>
			<button class="keyboard-button square js-key">-</button>
			<button class="keyboard-button square js-key">'</button>
			<button class="keyboard-button square js-key">"</button>
			<button class="keyboard-button square js-key">:</button>
			<button class="keyboard-button square js-key">;</button>
			<button class="keyboard-button square js-key">,</button>
			<button class="keyboard-button square js-key">[</button>
			<button class="keyboard-button square js-key">]</button>
			
	</div>
	</div>