.page__header {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
  }
  
.title{  
	
  background: $pinky-color;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, $blue-color, $pinky-color);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, $blue-color, $pinky-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 10vw;
		family: $font;
	};
}